root{
	letterButtonColor: black;
 	numberButtonColor:black;
 	background-color:black;
 	border-right-color:black;

 	border-color: black;
 	BorderColor2:#414141;

}
.screenHalf
{
	background-color: black;
	border-color: black;
}

#timeControls
{
	border-color: black;
	background-color: black;
}

#playButton,
#stopButton,
#restartButton{
	position:relative;
	background-color: black;
	border-style: outset;
}
#playButton:active,
#stopButton:active,
#restartButton:active{
	background-color: black;
	border-style: inset;
	outline:none;
	text-align: center;

}
#playButton span,
#stopButton span,
#restartButton span{
	font-size: 25px;
	width:30px;
	height:30px;
	text-shadow: 1px 1px 2px black;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
  	line-height: 100%;
	position:absolute;
	top:calc(50% - 12px);
	left:calc(50% - 15px);
	
}
#playButton:active span,
#stopButton:active span,
#restartButton:active span{
	top:calc(50% - 10px);
	left:calc(50% - 13px);
}


#playButton{
	color:green;
}
#stopButton{
	color:red;	
}
#restartButton{
	color:blue;	
}
#stopButton:disabled,
#playButton:disabled,
#restartButton:disabled
{
	text-shadow: 0px 0px 2px black;
}

#screenContainer{
	border-color: black;
}

input[type=range] {
  background-color: var(BGcolor2);
}